<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#새-dataframe-만들기" data-toc-modified-id="새-dataframe-만들기-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>새 dataframe 만들기</a></span></li><li><span><a href="#본작업" data-toc-modified-id="본작업-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>본작업</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
from haversine import haversine

# 새 dataframe 만들기

In [2]:
os.chdir(path = './1_2.DOA_Bird/새/')

In [3]:
for i in range(len(os.listdir())):
    globals()['bird{}'.format(i)] = pd.read_csv(os.listdir()[i],sep='\t')

C:\Users\DAEGYEONGLEE\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (49) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\DAEGYEONGLEE\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (14,16,17,36,37,38,39,41,43,44,46,48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
for_merge = bird1.iloc[0:0]

In [5]:
for i in range(26):
    for_merge = pd.concat([for_merge,globals()['bird{}'.format(i)]])

In [6]:
bird2021 = pd.read_csv("../새2021.csv")

In [7]:
for_merge = pd.concat([for_merge, bird2021]).reset_index(drop=True)

In [8]:
for_merge = for_merge[for_merge.coordinateUncertaintyInMeters.isnull()].reset_index(drop=True)

In [9]:
for_merge=for_merge[['species','year','month','decimalLatitude','decimalLongitude']].reset_index(drop=True)

In [10]:
for_merge=for_merge.drop(for_merge[for_merge.species.isnull()==True].index).reset_index(drop=True)

In [11]:
for_gps = []
for i in tqdm(range(len(for_merge))):
    for_gps.append( (for_merge['decimalLatitude'][i], for_merge['decimalLongitude'][i]) )

100%|████████████████████████████████████████████████████████████████████| 3034469/3034469 [00:28<00:00, 108358.46it/s]

In [12]:
for_merge['gps'] = for_gps

In [13]:
#INAT에서 온 친구들 거르기

for_merge=for_merge[(for_merge.species!='Locustella certhiola')&(for_merge.species!='Locustella ochotensis')&
         (for_merge.species!='Ianthocincla pectoralis')&(for_merge.species!='Luscinia calliope')&
         (for_merge.species!='Iduna aedon')&(for_merge.species!='Phylloscopus sibillatrix')&
         (for_merge.species!='Muscicapa latirostris')&(for_merge.species!='Tiaris bicolor')&
         (for_merge.species!='Tiaris canorus')&(for_merge.species!='Lonchura oryzivora')&
         (for_merge.species!='Lonchura cucullata')&(for_merge.species!='Estrilda coerulescens')&
         (for_merge.species!='alcarius ornatus')]

In [14]:
for_merge = for_merge.drop_duplicates(keep='first').reset_index(drop=True)

In [15]:
df = for_merge

In [16]:
df

,species,year,month,decimalLatitude,decimalLongitude,gps
0,Locustella lanceolata,2007,6,52.350440,175.917200,"(52.35044, 175.9172)"
1,Locustella fluviatilis,2017,10,63.779300,-171.721450,"(63.7793, -171.72145)"
2,Locustella lanceolata,2015,10,63.779300,-171.721450,"(63.7793, -171.72145)"
3,Locustella lanceolata,2013,9,63.779300,-171.721450,"(63.7793, -171.72145)"
4,Acrocephalus schoenobaenus,2007,9,63.779300,-171.721450,"(63.7793, -171.72145)"
...,...,...,...,...,...,...
1531832,Tiaris olivaceus,2021,9,21.527182,-157.920013,"(21.5271822, -157.9200125)"
1531833,Tiaris olivaceus,2021,12,21.334812,-157.814511,"(21.3348122, -157.8145112)"
1531834,Tiaris olivaceus,2021,2,25.996584,-97.569051,"(25.9965839, -97.5690513)"
1531835,Tiaris olivaceus,2021,3,26.126834,-97.957817,"(26.1268335, -97.9578167)"
1531836,Tiaris olivaceus,2021,3,26.124386,-97.958565,"(26.124386, -97.9585648)"

# 본작업

In [17]:
df2 = pd.read_csv("../../220220_DOA_bi(최종,minmax).csv")

In [18]:
df2 = df2[df2.Species=='Adalia bipunctata'].reset_index(drop=True)

In [19]:
df2_gps = []
for i in tqdm(range(len(df2))):
    try:
        df2_gps.append( (df2.Latitude[i], df2.Longitude[i]) )
    except:
        print(i)
        
        
df2['gps'] = df2_gps

100%|███████████████████████████████████████████████████████████████████████████| 1438/1438 [00:00<00:00, 62623.65it/s]

In [20]:
df2=df2[['Species','gps','Year']]

In [21]:
df_dict = {'year' + str(i): df.loc[df["year"]==i].sort_values(by="species").reset_index(drop=True) 
           for i in range(2007,2022)}

In [22]:
# ABSENCE 3종 BIPUNC PTYPE

# PTYPE = ['Lanius_borealis_18',
# 'Harmonia_axyridis_18',
# 'Cinclus_mexicanus_18',
# 'Coccinella_septempunctata_18',
# 'Coelophora_maculata_18',
# 'Cycloneda_polita_18',
# 'Eremophila_alpestris_18',
# 'Hippodamia_convergens_18',
# 'Anatis_mali_18',
# 'Hippodamia_tredecimpunctata_18',
# "Psyllobora_vigintimaculata_18",
# 'Coccinella_trifasciata_18',
# 'Phainopepla_nitens_18',
# 'Hippodamia_variegata_18',
# 'Olla_vnigrum_18',
# 'Centronyx_henslowii_18',
# 'Coccinella_novemnotata_18',
# 'Chilocorus_stigma_18',
# 'Mulsantina_hudsonica_18']

In [23]:
# bipunctata (minmax)


# P_TYPE=['Harmonia_axyridis_18', 'Lanius_borealis_18',
#        'Coccinella_septempunctata_18', 'Cinclus_mexicanus_18',
#        'Coelophora_maculata_18', 'Cycloneda_polita_18',
#        'Eremophila_alpestris_18', 'Hippodamia_convergens_18',
#        'Anatis_mali_18', 'Hippodamia_tredecimpunctata_18',
#        'Hippodamia_variegata_18', 'Calvia_quatuordecimguttata_18',
#        'Anatis_lecontei_18', 'Mulsantina_picta_18',
#        'Centronyx_henslowii_18']

In [24]:
bass = ['Lanius borealis', 'Harmonia axyridis',
       'Cinclus mexicanus', 'Coccinella septempunctata',
       'Cycloneda polita', 'Eremophila alpestris',
       'Coelophora maculata', 'Hippodamia convergens',
       'Hippodamia tredecimpunctata', 'Anatis mali',
       'Lanius ludovicianus', 'Hippodamia variegata',
       'Cycloneda munda', 'Mulsantina picta',
       'Phainopepla nitens', 'Anatis lecontei',
       'Centronyx henslowii', 'Calvia quatuordecimguttata',
       'Olla vnigrum', 'Coccinella novemnotata']


PTYPE = []

In [25]:
for i in bass:
    if i in df.species.unique():
        PTYPE.append(i)

In [26]:
for i in PTYPE:
    for j in range(2007,2022):
        globals()['{}_{}df'.format(i.split(" ")[1],j)] = df_dict['year' + str(j)].loc[df_dict['year' + str(j)].species==i].reset_index(drop=True)

In [27]:
for i in range(2007,2022):
    for j in range(len(df2)):
        for k in PTYPE:
            globals()['{}_{}_{}'.format(k.split(" ")[1],i,j)] = 0

In [28]:
for i in range(2007,2022):
    for j in PTYPE:
        globals()['{}list_{}'.format(j.split(" ")[1],i)] = []

In [29]:
for i in tqdm(range(len(df2.gps))):
    for j in range(2007,2022):
        for name in PTYPE:
            for k in range(len(globals()['{}_{}df'.format(name.split(" ")[1],j)])):
                if haversine(globals()['{}_{}df'.format(name.split(" ")[1],j)].gps[k], df2.gps[i], unit='km') <= 18:
                    globals()['{}_{}_{}'.format(name.split(" ")[1],j,i)] += 1

100%|████████████████████████████████████████████████████████████████████████████| 1438/1438 [8:09:49<00:00, 20.44s/it]

In [30]:
for name in PTYPE:
    for j in range(2007,2022):
        for k in range(len(df2.gps)):
            globals()['{}list_{}'.format(name.split(" ")[1],j)].append(globals()['{}_{}_{}'.format(name.split(" ")[1],j,k)])

In [31]:
for name in PTYPE:
    for j in range(2007,2022):
        df2[name.split(" ")[1]+"_"+str(j)+"_18km"] = globals()['{}list_{}'.format(name.split(" ")[1],j)]

In [32]:
df2.describe()

,Year,borealis_2007_18km,borealis_2008_18km,borealis_2009_18km,borealis_2010_18km,borealis_2011_18km,borealis_2012_18km,borealis_2013_18km,borealis_2014_18km,borealis_2015_18km,...,henslowii_2012_18km,henslowii_2013_18km,henslowii_2014_18km,henslowii_2015_18km,henslowii_2016_18km,henslowii_2017_18km,henslowii_2018_18km,henslowii_2019_18km,henslowii_2020_18km,henslowii_2021_18km
count,1438.000000,1438.000000,1438.000000,1438.000000,1438.000000,1438.000000,1438.000000,1438.000000,1438.000000,1438.000000,...,1438.000000,1438.000000,1438.000000,1438.000000,1438.000000,1438.000000,1438.000000,1438.000000,1438.000000,1438.000000
mean,2017.327538,2.391516,2.835883,2.486787,2.883171,3.503477,6.796245,5.586231,6.222531,8.776078,...,0.050765,0.058414,0.188456,0.055633,0.052156,0.093880,0.079277,0.072323,0.252434,0.263561
std,3.925784,4.079292,5.498230,4.476899,5.855507,5.906101,9.997957,7.878196,10.340036,16.134997,...,0.782238,1.138646,1.238989,1.281947,0.959547,1.551331,1.582560,1.366789,2.009955,1.284540
min,2007.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2019.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2021.000000,3.000000,4.000000,3.000000,3.000000,5.000000,11.000000,9.000000,8.000000,9.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2021.000000,29.000000,56.000000,44.000000,81.000000,71.000000,62.000000,60.000000,76.000000,89.000000,...,24.000000,41.000000,40.000000,47.000000,33.000000,49.000000,56.000000,50.000000,71.000000,36.000000

In [33]:
df2.to_csv('../20220226_DOA_bipunctata실제테스트_새(3종).csv')